* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bolder;
    font-size: 15px;
    background-color: transparent;
    min-height: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition: all 0.2s ease;
}

#tray,
#workspaces,
#tooltip label,
#clock,
#cpu,
#custom-power,
#memory,
#network,
#custom-bluetooth,
#pulseaudio {
    margin: 2px 4px 2px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border: rgba(0, 0, 0, 0.75);
    padding: 6px 12px;
    border-radius: 10px;
}

#cpu.critical,
#memory.critical {
    background-color: rgba(0, 0, 0, 0.75);
    border: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 1);
}

window#waybar {
    background: transparent;
    color: rgba(255, 255, 255, 1);
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 4px;
}

#workspaces button.focused {
    color: rgba(221, 199, 161, 1);
}

#workspaces button.urgent {
    background-color: rgba(231, 138, 78, 0.75);
}

tooltip {
    border: none;
}

tooltip label {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 6px 6px;
}

#tray menu {
    all: unset;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 14px;
    padding: 13px;
}